<!DOCTYPE html>
<html>
    <head>
        <title>Nimzing To-Do List</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css"> <!-- Adjust the path accordingly -->
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Add viewport meta tag for responsiveness -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    
<body>
    <h1>Nimzing To-Do List</h1>
    
    <input type="text" id="newTodo" placeholder="Enter a new to-do">
    <button id="addButton">Add</button>

    <ul id="todoList">
        {% for todo in todos %}
            <li>
                {{ todo[1] }}
                <button class="deleteButton" data-todo="{{ todo[1] }}">Delete</button>
                <button class="updateButton" data-todo="{{ todo[1] }}">Update</button>
            </li>
        {% endfor %}
    </ul>
    
    <!--<ul id="todoList">
        {% for todo in todo_list %}
            <ol>
                {{ todo }}
                <button class="deleteButton" data-todo="{{ todo }}">Delete</button>
                <button class="updateButton" data-todo="{{ todo }}">Update</button>
            </ol>
        {% endfor %}
    </ul>-->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
    $(document).ready(function() {
    $('#addButton').click(function() {
        var newTodo = $('#newTodo').val();
        $.ajax({
            type: 'POST',
            url: '/add_todo',
            data: { 'todo': newTodo },
            success: function(response) {
                if (response.message === 'Todo added successfully') {
                    // Create a new list item with buttons
                    var listItem = '<li>' + newTodo +
                        '<button class="deleteButton" data-todo="' + newTodo + '">Delete</button>' +
                        '<button class="updateButton" data-todo="' + newTodo + '">Update</button>' +
                        '</li>';

                    // Append the new list item to the list
                    $('#todoList').append(listItem);

                    // Clear the input field
                    $('#newTodo').val('');
                }
            }
        });
    });

    // Add event listener for delete button
    $(document).on('click', '.deleteButton', function() {
        var todoToDelete = $(this).data('todo');
        var listItem = $(this).parent(); // Get the parent <li> element
        
        var confirmDelete = confirm("Are you sure you want to delete this to-do?");

        if (confirmDelete) {
                $.ajax({
                    type: 'POST',
                    url: '/delete_todo',
                    data: { 'todo': todoToDelete },
                    success: function(response) {
                        if (response.message === 'Todo deleted successfully') {
                            // Remove the list item from the DOM
                            listItem.remove();
                        }
                    }
                });
            }
        });


        
        


    $(document).on('click', '.updateButton', function() {
    var $listItem = $(this).parent(); // Store the reference to the parent list item
    var todoToUpdate = $(this).data('todo');
    var updatedTodo = prompt('Update the to-do:', todoToUpdate);
    if (updatedTodo) {
        $.ajax({
            type: 'POST',
            url: '/update_todo',
            data: { 'old_todo': todoToUpdate, 'new_todo': updatedTodo },
            success: function(response) {
                if (response.message === 'Todo updated successfully') {
                    // Update the text of the list item
                    $listItem.text(updatedTodo);
                    $listItem.append('<button class="deleteButton" data-todo="' + updatedTodo + '">Delete</button>' +
            '<button class="updateButton" data-todo="' + updatedTodo + '">Update</button>');


                    // Force a repaint to reflect the changes
                    $listItem[0].offsetHeight;
                }
            }
        });
    }
});



$('#newTodo').keypress(function(event) {
        if (event.which === 13) { // 13 corresponds to the "Return" key
            event.preventDefault(); // Prevent default behavior (form submission)

            // Trigger the "Add" button's click event
            $('#addButton').click();
        }
    });

});


        
    </script>
</body>
</html>
